BOT_TOKEN=
BOT_USERNAME=TheZontShopBot
APP_BASE_URL=https://your-domain.example
CHIEF_MODERATOR_ID=6430400675
MODERATORS_CHAT_ID=-1003580269283
CHANNEL_CHAT_ID=-1003727981065
DATABASE_URL=sqlite+aiosqlite:///./data.db
